{{define "bottom"}}
    </main>
    <footer>
        <ul>
            <li><a href="https://twitter.com">Twitter</a></li>
            <li><a href="https://github.com">GitHub</a></li>
        </ul>
    </footer>
    </body>
    </html>
{{end}}